<p>transaction-list works!</p>
<div>
    <h2>Liste des transactions</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Montant</th>
          <th>Date</th>
          <th>Type de transaction</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.date }}</td>
          <td>{{ transaction.type }}</td>
        </tr> -->
      </tbody>
    </table>
  </div>
  